* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #382e27;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board {
  width: 80%;
  height: 500px;
  
  margin: 0 auto;

  background: #000000;
  border-bottom: 15px solid #D4D4D4;

  position: relative;
  overflow: hidden;
}

.score {
  font-size: 48px;
  font-family: sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  top: 100px;
  right: 50px;
}

.clouds {
  width: 200px;
  position: absolute;
  top: 200px;
  right: -200px;

  animation-name: clouds-animation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.meteorite {
  width: 50px;

  position: absolute;
  left: 56px;
  top: 94px;
  transform: scaleX(-1);
  filter: grayscale(1);
}

.love-of-my-life {
  width: 90px;

  display: none;

  position: absolute;
  bottom: 0;
  right: 40%;
  transform: scaleX(-1);
  
  animation-name: none;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.character {
  width: 75px;

  position: absolute;
  bottom: 0;
  left: 48px;
  
  animation-name: none;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.jump {
  animation-name: character-jump;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
}

.cactus {
  width: 65px;
  height: 90px;

  position: absolute;
  bottom: 0;

  animation-name: cactus-animation;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dialog {
  width: 512px;
  height: 86px;

  padding: 12px;

  display: none;

  background-color: #fff;
  border-radius: 3px;

  font-size: 16px;
  font-family: sans-serif;

  position: absolute;
  left: 25%;
  bottom: 30%;
}

.dialog-body {
  width: 100%;
  height: 100%;

  display: relative;

  background-color: blue;
}

@keyframes dinovana-animation {
  from {
    right: -90px;
  }

  to {
    right: 40%;
  }
}

@keyframes character-animation {
  from {
    left: 48px;
  }

  to {
    left: 40%;
  }
}

@keyframes clouds-animation {
  from {
    right: -500px;
  }

  to {
    right: 100%;
  }
}

@keyframes cactus-animation {
  from {
    right: -65px;
  }

  to {
    right: 100%;
  }
}

@keyframes character-jump {
  0% {
    bottom: 0;
  }
  
  45% {
    bottom: 150px;
  }

  50% {
    bottom: 150px;
  }

  55% {
    bottom: 150px;
  }

  100% {
    bottom: 0;
  }
}
